{% extends 'flashcard-base.html' %}
{% load static %}

{% block title %}Discere{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'flashcard/css/flashcard-css1.css' %}">
    {{ block.super }} <!-- Retain any styles or scripts defined in the base template -->
{% endblock %}

{% block main_content %}
    <div class="flex justify-between items-center mb-4 relative" style="user-select: none">
        {% csrf_token %}
        <a href="{% url 'library' %}" class="flex items-center">
            <img src="{% static 'icons/arrow-left.svg' %}" alt="Back" class="h-10 w-10 mr-2 text-darkgreen fill-current">
        </a>

        {% if flashcards %}
            <h1 class="text-xl font-bold text-center" style="font-size: 36px; flex-grow: 1;">
                Flashcard for {{ flashcards.first.study_set.set_name }}
            </h1>
        {% endif %}

        <div class="relative">
            <button id="three-dot-menu" class="focus:outline-none">
                <img src="{% static 'icons/three-dots menu.svg' %}" alt="Menu" class="h-10 w-10 text-darkgreen">
            </button>

            <div id="menu-dropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded shadow-lg">
                <ul>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Edit</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-100" id="delete-flashcards" style="color: red">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-full h-px bg-opacity-10 mb-4" style="margin-top: 40px; border-top: 3px solid lightgrey;"> </div>

    {% if flashcards %}
        <div style="text-align: right; margin-top: -19px; display: flex; justify-content: space-between; align-items: center; font-size: 20px; text-align: center;">
            <div style="background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: flex; flex-direction: row; border: 3px solid lightgrey;">
                <div style="color: #012d19; padding: 10px 20px;">
                    <strong style="color: #012d19;">
                        SET SUBJECT
                    </strong>
                </div>

                <div style="background-color: #012d19; color: white; border-bottom-right-radius: 7px; padding: 10px 20px; border-left: 3px solid lightgrey;">
                    {{ flashcards.first.study_set.set_subject }}
                </div>
            </div>

            <div style="background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: flex; flex-direction: row; border: 3px solid lightgrey;">
                <div style="color: #012d19; padding: 10px 20px;">
                    <strong style="color: #012d19;">
                        TOTAL FLASHCARDS
                    </strong>
                </div>

                <div style="background-color: #012d19; color: white; border-bottom-right-radius: 7px; padding: 10px 20px; border-left: 3px solid lightgrey;" id="flashcard-counter">
                    {{ flashcards.first.study_set.flashcard_count }}
                </div>
            </div>
        </div>

        <div style="text-align: center; font-size: 26px; margin-bottom: -40px; margin-top: 20px;">
            <span id="current-page">1</span> / <span>{{ flashcards.first.study_set.flashcard_count }}</span>
        </div>
    {% endif %}

    <div style="display: flex; align-items: center; justify-content: center;">
        <div style="border: 3px solid #012e19; padding: 100px 60px; border-radius: 30px; margin-right: -65px; background-color: white; z-index: 10;" onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';" onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'" id="prevBtn">
            <i class="fa fa-chevron-left" style="font-size: 30px"></i>
        </div>

        
            {% for flashcard in flashcards %}
                <div class="flashcard" style="border: 3px solid #012e19; margin: 70px 0; height: 80vh; width: 60vw; border-radius: 30px; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column; font-size: 40px; box-shadow: 0px 0px 50px rgba(7, 102, 58, 0.2); font-weight: 600; position: relative;">
                    <span id="term-{{ flashcard.id }}" class="flashcard-term">{{ flashcard.term }}</span>
                    <div id="answer-{{ flashcard.id }}" class="flashcard-answer" style="display: none;">
                        <span>{{ flashcard.definition }}</span>
                    </div>
                    <button type="button"
                            class="btn reveal-btn"
                            onclick="toggleAnswer({{ flashcard.id }})"
                            style="border: 1px solid #B0B0B0;
                                font-size: 17px;
                                border-radius: 15px;
                                padding: 15px 30px;
                                color: #787878;
                                margin-top: 10px;
                                background-color: #faf9f6;
                                letter-spacing: 0.5px;"
                            onmouseover="this.style.borderColor='#585858'; this.style.color='#585858';"
                            onmouseout="this.style.borderColor='#B0B0B0'; this.style.color='#787878';">
                        Reveal Answer
                    </button>
                </div>
            {% endfor %}
        

        <div style="border: 3px solid #012e19; padding: 100px 60px; border-radius: 30px; margin-left: -65px; background-color: white; z-index: 10;" onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';" onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'" id="nextBtn">
            <i class="fa fa-chevron-right" style="font-size: 30px;"></i>
        </div>
    </div>

    <div id="delete-confirmation" class="hidden fixed inset-0 bg-opacity-500 flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg w-96 text-center" style="border: 1px solid #012d19" style="user-select:none">
            <h2 class="text-xl mb-4" style="margin-bottom: 40px;">Are you sure you want to delete all flashcards for this set?</h2>
            <button id="confirm-delete" class="bg-red-600 px-4 py-2 rounded" style="border: 1px solid #8B0000; color: red; margin-right: 20px;" onmouseover="this.style.backgroundColor='#8B0000'; this.style.color='white';" onmouseout="this.style.backgroundColor=''; this.style.color='red';">Yes, Delete</button>
            <button id="cancel-delete" class="bg-gray-400 px-4 py-2 rounded ml-4" style="border: 1px solid #00008B; color: #00008B" onmouseover="this.style.backgroundColor='#00008B'; this.style.color='white';" onmouseout="this.style.backgroundColor=''; this.style.color='#00008B';">No, Cancel</button>
        </div>
    </div>

    <script>
        var currentFlashcardIndex = 0;
        var flashcards = document.querySelectorAll('.flashcard');
        var totalFlashcards = flashcards.length;

        showFlashcard(currentFlashcardIndex);

        document.getElementById('nextBtn').addEventListener('click', function() {
            currentFlashcardIndex = (currentFlashcardIndex + 1) % totalFlashcards;  
            showFlashcard(currentFlashcardIndex);
            updatePageNumber();
        });

        document.getElementById('prevBtn').addEventListener('click', function() {
            currentFlashcardIndex = (currentFlashcardIndex - 1 + totalFlashcards) % totalFlashcards;
            showFlashcard(currentFlashcardIndex);
            updatePageNumber();
        });

        function showFlashcard(index) {
            flashcards.forEach(function(flashcard, i) {
                flashcard.style.display = 'none';
            });
            flashcards[index].style.display = 'block';
        }

        function toggleAnswer(flashcardId) {
            var termElement = document.getElementById('term-' + flashcardId);
            var answerElement = document.getElementById('answer-' + flashcardId);

            if (answerElement.style.display === 'none') {
                termElement.style.display = 'none';
                answerElement.style.display = 'block';
            } else {
                termElement.style.display = 'block';
                answerElement.style.display = 'none';
            }
        }

        function updatePageNumber() {
            document.getElementById('current-page').innerText = currentFlashcardIndex + 1;
        }

        document.getElementById('three-dot-menu').addEventListener('click', function() {
            var dropdown = document.getElementById('menu-dropdown');
            dropdown.classList.toggle('hidden');
        });

        document.getElementById('delete-flashcards').addEventListener('click', function() {
            document.getElementById('delete-confirmation').classList.remove('hidden');
        });

        document.getElementById('cancel-delete').addEventListener('click', function() {
            document.getElementById('delete-confirmation').classList.add('hidden');
        });

        document.getElementById('confirm-delete').addEventListener('click', function() {
            var studySetId = '{{ flashcards.first.study_set.id }}'; 
            fetch('/delete_flashcards/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({ 'study_set_id': studySetId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    alert('Error deleting flashcards.');
                }
            });
            document.getElementById('delete-confirmation').classList.add('hidden');
        });
    </script>
{% endblock %}
