{% extends 'flashcard-base.html' %}
{% load static %}

{% block title %}Discere{% endblock %}

{% block main_content %}
    <div class="flex justify-between items-center mb-4">
        <a href="{% url 'library' %}" id="back-arrow" class="flex items-center">
            <img src="{% static 'icons/arrow-left.svg' %}" alt="Back" class="h-10 w-10 mr-2 text-darkgreen fill-current" style="margin-top: 10px;">
        </a>        
        
        <h1 class="text-xl font-bold" style="font-size: 36px; margin-left: -80px">
            {{flashcards.first.study_set.set_name}}
        </h1> 

        <div class="flex space-x-4">
            <button id="open-modal"
                    class="text-darkgreen font-semibold py-2 px-4 rounded-full w-64 h-16 flex items-center justify-center"
                    style="font-size: 18px; border: 4px solid #012d19"
                    onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';"
                    onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'">
                <i class="fa fa-magic" style="margin-right: 10px; font-size: 15px;"></i>
                Save Flashcard
            </button>

            <a href="#" id="start-learning-link">
                <button id="start-learning"
                        class="bg-darkgreen text-white font-semibold py-2 px-4 rounded-full w-64 h-16 flex items-center justify-center"
                        style="font-size: 18px;"
                        onmouseover="this.style.backgroundColor='#07663a'; this.style.color='white';"
                        onmouseout="this.style.backgroundColor='#012d19'; this.style.color='white'">
                    <img src="{% static 'icons/play.svg' %}" alt="icon" class="h-7 w-7 mr-2">
                    Start Learning
                </button>
            </a>

            <div style="height: 65px; border: 1px solid transparent; margin-left: 40px;"> </div>

            <button id="delete"
                    class="font-semibold py-2 px-4 rounded-full w-50 h-16 flex items-center justify-center"
                    style="font-size: 18px; color: #a12d1a; border: 4px solid #a12d1a; font-size: 20px; width: 80px;"
                    onmouseover="this.style.backgroundColor='#a12d1a'; this.style.color='white';"
                    onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#a12d1a'">
                <i class="fa fa-trash"></i>
            </button>

        </div>
    </div>
    
    <div class="w-full h-px bg-opacity-10 mb-4" style="margin-top: 40px; border-top: 3px solid lightgrey;"> </div>
    
    <div style="text-align: right;
                margin-top: -18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                text-align: center;">
        <div style="background-color: white; 
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px; 
                    display: flex;
                    flex-direction: row;
                    border: 3px solid lightgrey;">
            <div style="color: #012d19;
                        padding: 10px 20px;">
                <strong style="color: #012d19;">
                    SET SUBJECT
                </strong>
            </div>

            <div style="background-color: #012d19;
                        color: white;
                        border-bottom-right-radius: 7px;
                        padding: 10px 20px;
                        border-left: 3px solid lightgrey;">
                {{flashcards.first.study_set.set_subject}}
            </div>
        </div>
                
        <div style="background-color: white; 
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px; 
                    display: flex;
                    flex-direction: row;
                    border: 3px solid lightgrey;">
            <div style="color: #012d19;
                        padding: 10px 20px;">
                <strong style="color: #012d19;">
                    FLASHCARD COUNT
                </strong>
            </div>

            <div style="background-color: #012d19;
                        color: white;
                        border-bottom-right-radius: 7px;
                        padding: 10px 20px;
                        border-left: 3px solid lightgrey;">
                 {{flashcards.first.study_set.flashcard_count}}
            </div>
        </div>
    </div>
    
    <div style="padding: 40px 0">
        <form method="POST" action="{% url 'update_flashcards' study_set.id %}">
            {% csrf_token %}
            
            <input type="hidden" name="flashcard_id" value="{{ flashcard_id }}">

            <div id="flashcards">
                {% for flashcard in flashcards %}
                <div class="flashcard">
                    <div class="flashcard-header">
                        <span class="flashcard-number">{{ forloop.counter }}</span>
                        <button type="button" class="delete-btn">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
            
                    <div class="flashcard-content">
                        <div class="input-group">
                            <input type="text"
                                   name="term_{{ forloop.counter }}"
                                   class="input-term"
                                   value="{{ flashcard.term }}"
                                   placeholder="Enter term" required>
                            <p class="label">TERM</p>
                        </div>
            
                        <div class="input-group">
                            <input type="text"
                                   name="definition_{{ forloop.counter }}"
                                   class="input-definition"
                                   value="{{ flashcard.definition }}"
                                   placeholder="Enter definition" required>
                            <p class="label">DEFINITION</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <div class="add-card-section">
                <div class="add-card">
                    <button type="button" class="add-card-btn">
                        <i class="fas fa-plus"></i> ADD CARD
                    </button>
                </div>
            </div>
        
            <div style="display: flex; justify-content: right; align-items: center; margin-right: 145px; margin-bottom: 10px;">
                <button class="text-darkgreen font-semibold py-2 px-4 rounded-full w-64 h-16 flex items-center justify-center"
                        style="font-size: 18px; border: 4px solid #012d19; "
                        onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';"
                        onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'" type="submit" class="btn btn-primary">
                    <i class="fa fa-magic" style="margin-right: 10px; font-size: 15px;"></i>
                    Save Changes 
                </button>
            </div>
        </form>        

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <div class="warning-icon">
                    <i class="fas fa-exclamation-triangle"></i> 
                </div>
                <p class="warning-message">This is the last flashcard of the set.<br>Unable to delete!</p>
            </div>
        </div>

        <div id="warning-modal"
            style="position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 1000;">
                <div style="
                    background-color: white;
                    padding: 20px;
                    border-radius: 20px;
                    text-align: center;
                    width: 80%;
                    max-width: 600px;
                    padding: 30px;">
                    <i class="fas fa-exclamation-circle" style="font-size: 50px; color: #f39c12; margin-bottom: 20px;margin-top: 20px;"></i>
                    <p id="warning-message"
                       style="
                        font-size: 24px;
                        color: #333;
                        margin-bottom: 20px;"></p>
                    <button id="close-modal"
                            style="margin-top: 10px;
                                padding: 10px 20px;
                                background-color: #012d19;
                                color: white;
                                border: none;
                                border-radius: 5px;
                                cursor: pointer;
                                font-size: 18px;">Close</button>
                </div>
        </div>

        <div id="delete-modal"
            style="position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 1000;">
            <div style="
                background-color: white;
                padding: 30px;
                border-radius: 15px;
                text-align: center;
                width: 80%;
                max-width: 400px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                <div style="margin-bottom: 20px;">
                    <i class="fas fa-exclamation-triangle" style="font-size: 50px; color: #a12d1a;"></i>
                </div>
                <p style="font-size: 20px; margin-bottom: 30px;">Are you sure you want to delete this study set?</p>
                <div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                    <button id="confirm-delete"
                            style="padding: 12px 20px; background-color: #a12d1a; color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 16px; display: flex; align-items: center; gap: 8px;">
                        Yes, Delete
                    </button>
                    <button id="cancel-delete"
                            style="padding: 12px 20px; background-color: #012d19; color: white; border: none; border-radius: 8px; cursor: pointer; font-size: 16px; display: flex; align-items: center; gap: 8px;">
                        No, Cancel
                    </button>
                </div>
            </div>
        </div>

        <script src="{% static 'flashcards/js/flashcards.js' %}"></script>
        <script>
            function showWarning(message) {
                const modal = document.getElementById("warning-modal");
                const warningMessage = document.getElementById("warning-message");
                warningMessage.textContent = message;
                modal.style.display = "flex";
        
                document.getElementById("close-modal").onclick = function () {
                    modal.style.display = "none";
                };
            }
        
            function validateInputs() {
                const terms = document.querySelectorAll(".input-term");
                const definitions = document.querySelectorAll(".input-definition");
                for (let i = 0; i < terms.length; i++) {
                    if (terms[i].value.trim() === "" || definitions[i].value.trim() === "") {
                        return false;
                    }
                }
                return true;
            }

            document.getElementById("open-modal").addEventListener("click", function (e) {
                if (!validateInputs()) {
                    e.preventDefault();
                    showWarning("Please fill in all term and definition fields before creating a flashcard!");
                } else {
                    document.querySelector("form").submit();
                }
            });
            
            document.getElementById("start-learning").addEventListener("click", function(e) {
                if (!validateInputs()) {
                    e.preventDefault();
                    showWarning("Please fill in all term and definition fields before starting learning!");
                } else {
                    e.preventDefault();
                    document.querySelector("form").submit();
                    setTimeout(function () {
                        window.location.href = document.getElementById("start-learning-link").href;
                    }, 100);
                }
            });

            const deleteButton = document.getElementById("delete");
            const deleteModal = document.getElementById("delete-modal");
            const confirmDeleteButton = document.getElementById("confirm-delete");
            const cancelDeleteButton = document.getElementById("cancel-delete");

            deleteButton.addEventListener("click", () => {
                deleteModal.style.display = "flex";
            });

            cancelDeleteButton.addEventListener("click", () => {
                deleteModal.style.display = "none";
            });

            confirmDeleteButton.addEventListener("click", () => {
                const studySetId = "{{ study_set.id }}"; 

                fetch(`/delete-study-set/${studySetId}/`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                })
                .then((response) => {
                    if (response.ok) {
                        window.location.href = "{% url 'library' %}";
                    } else {
                        alert("Failed to delete the study set.");
                    }
                })
                .catch((error) => {
                    console.error("Error deleting study set:", error);
                    alert("An error occurred.");
                });
            });            
        </script>
    </div> 
{% endblock %}