{% extends 'flashcard-base.html' %}
{% load static %}

{% block title %}Discere{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'flashcard/css/flashcard-css1.css' %}">
    {{ block.super }} <!-- Retain any styles or scripts defined in the base template -->
{% endblock %}

{% block main_content %}
<div class="bg-white1 flex-grow px-10 py-10 rounded-t-3xl min-h-full">
    <div class="flex justify-between items-center mb-4 relative" style="user-select: none">
        {% csrf_token %}
        <a href="{% url 'library' %}" class="flex items-center">
            <img src="{% static 'icons/arrow-left.svg' %}" alt="Back" class="h-10 w-10 mr-2 text-darkgreen fill-current">
        </a>

        {% if flashcards %}
            <h1 class="text-xl font-bold text-center" style="font-size: 36px; flex-grow: 1;">
                Flashcard for {{ flashcards.first.study_set.set_name }}
            </h1>
        {% endif %}

        <div class="relative">
            <button id="three-dot-menu" class="focus:outline-none">
                <img src="{% static 'icons/three-dots menu.svg' %}" alt="Menu" class="h-10 w-10 text-darkgreen">
            </button>

            <div id="menu-dropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded shadow-lg">
                <ul>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-100">Edit</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-100" id="delete-flashcards" style="color: red">Delete</a></li>
                </ul>
            </div>
        </div>

        <a href="{% url 'identification_quiz' study_set_id=study_set.id %}">
            <button class="bg-darkgreen text-white font-semibold py-2 px-4 rounded-full w-64 h-16 flex items-center justify-center text-lg hover:bg-[#07663a]">
                <i class="fa fa-question-circle mr-2"></i>
                Start Quiz
            </button>
        </a>
    </div>

    <div class="w-full h-px bg-opacity-10 mb-4" style="margin-top: 40px; border-top: 3px solid lightgrey;"> </div>

    {% if flashcards %}
        <div style="text-align: right; margin-top: -19px; display: flex; justify-content: space-between; align-items: center; font-size: 20px; text-align: center;">
            <div style="background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: flex; flex-direction: row; border: 3px solid lightgrey;">
                <div style="color: #012d19; padding: 10px 20px;">
                    <strong style="color: #012d19;">
                        SET SUBJECT
                    </strong>
                </div>

                <div style="background-color: #012d19; color: white; border-bottom-right-radius: 7px; padding: 10px 20px; border-left: 3px solid lightgrey;">
                    {{ flashcards.first.study_set.set_subject }}
                </div>
            </div>

            <div style="background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: flex; flex-direction: row; border: 3px solid lightgrey;">
                <div style="color: #012d19; padding: 10px 20px;">
                    <strong style="color: #012d19;">
                        TOTAL FLASHCARDS
                    </strong>
                </div>

                <div style="background-color: #012d19; color: white; border-bottom-right-radius: 7px; padding: 10px 20px; border-left: 3px solid lightgrey;" id="flashcard-counter">
                    {{ flashcards.first.study_set.flashcard_count }}
                </div>
            </div>
        </div>

        <div style="text-align: center; font-size: 26px; margin-bottom: -40px; margin-top: 20px;">
            <span id="current-page">1</span> / <span>{{ flashcards.first.study_set.flashcard_count }}</span>
        </div>
    {% endif %}

    <div style="display: flex; align-items: center; justify-content: center;">
        <div style="border: 3px solid #012e19; padding: 100px 60px; border-radius: 30px; margin-right: -65px; background-color: #faf9f6; z-index: 10; margin-bottom: 110px;" onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';" onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'" id="prevBtn">
            <i class="fa fa-chevron-left" style="font-size: 30px"></i>
        </div>

        <div>
        {% for flashcard in flashcards %}
            <div class="flashcard" style="background:#faf9f6; border: 3px solid #012e19; margin: 70px 0; height: 80vh; width: 60vw; border-radius: 30px; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column; font-size: 40px; box-shadow: 0px 0px 50px rgba(7, 102, 58, 0.2); font-weight: 600; position: relative; user-select: none;">
                <span id="term-{{ flashcard.id }}" class="flashcard-term" style="display: flex; justify-content: center; padding-top: 28%; color: #012e19; width: 100%; height: 100%;">
                    {{ flashcard.term }}
                </span>
                <div id="answer-{{ flashcard.id }}" class="flashcard-answer" style="padding-top: 28%; color: #012e19; width: 100%; height: 100%; display: none;">
                    <span>{{ flashcard.definition }}</span>
                </div>
                <button type="button"
                        class="btn reveal-btn"
                        id="reveal-btn"
                        onclick="toggleAnswer({{ flashcard.id }})"
                        style="border: 1px solid #B0B0B0;
                            font-size: 17px;
                            border-radius: 15px;
                            padding: 15px 30px;
                            color: #787878;
                            position: absolute;
                            bottom: 60px;
                            left: 42%;
                            background-color: #faf9f6;
                            letter-spacing: 0.5px;"
                        onmouseover="this.style.borderColor='#585858'; this.style.color='#585858';"
                        onmouseout="this.style.borderColor='#B0B0B0'; this.style.color='#787878';">
                    Reveal Answer
                </button>
            </div>
        {% endfor %}

        {% if flashcards %}
            <div style="display: flex; align-items: center; justify-content: center; margin-top: -30px;">
                <button style="border: 3px solid #ef3231; border-radius: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 180px; height: 130px; background-color: #f8d4d1; color: #ef3231; font-weight: 600; font-size: 24px; margin-right: 30px; margin-bottom: 50px;"
                        class="not-sure-btn"
                        data-flashcard-id="{{ flashcard.id }}">
                    <i class="far fa-frown" style="color: #ef3231; font-size: 35px; margin-bottom: 10px;"></i>
                    <span>Not Sure</span>
                </button>

                <button style="border: 3px solid #00c964; border-radius: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 180px; height: 130px; background-color: #d5f2e0; color: #00c964; font-weight: 600; font-size: 24px; margin-bottom: 50px;"
                        class="got-it-btn"
                        data-flashcard-id="{{ flashcard.id }}">
                    <i class="far fa-smile" style="color: #00c964; font-size: 35px; margin-bottom: 10px;"></i>
                    <span>Got It</span>
                </button>
            </div>
        {% endif %}
        </div>

        <div style="border: 3px solid #012e19; padding: 100px 60px; border-radius: 30px; margin-left: -65px; background-color: #faf9f6; z-index: 10; margin-bottom: 110px;" onmouseover="this.style.backgroundColor='#012d19'; this.style.color='white';" onmouseout="this.style.backgroundColor='#faf9f6'; this.style.color='#012d19'" id="nextBtn">
            <i class="fa fa-chevron-right" style="font-size: 30px;"></i>
        </div>
    </div>

    <div id="delete-confirmation" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm flex justify-center items-center z-50 overflow-hidden">
        <div class="bg-white p-6 rounded-lg w-1/3 relative">
            <!-- Modal Header and Close Button -->
            <button type="button" onclick="closeModal('delete-confirmation')" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 m-3 p-1">
                <img src="{% static 'icons/close.svg' %}" alt="Close" class="w-4 h-4 cursor-pointer">
            </button>
            <h2 class="text-darkgreen font-semibold text-2xl mb-4 font-clash text-center">Are you sure you want to delete all flashcards for this set?</h2>
            
            <!-- Modal Buttons -->
            <div class="flex justify-center space-x-4">
                <button type="button" id="cancel-delete" class="px-4 py-2 text-sm text-darkgreen font-semibold border border-gray-300 rounded-lg hover:bg-gray-100 w-44 h-11 cursor-pointer">Cancel</button>
                <button id="confirm-delete" class="px-4 py-2 text-sm text-white bg-darkgreen font-semibold rounded-lg hover:bg-darkgreen/80 w-44 h-11 cursor-pointer">Yes, Delete</button>
            </div>
        </div>
    </div>
    
    <script>
        var currentFlashcardIndex = 0;
        var flashcards = document.querySelectorAll('.flashcard');
        var totalFlashcards = flashcards.length;
        
        showFlashcard(currentFlashcardIndex);
        
        // Next and Previous buttons for flashcards
        document.getElementById('nextBtn').addEventListener('click', function() {
            currentFlashcardIndex = (currentFlashcardIndex + 1) % totalFlashcards;  
            showFlashcard(currentFlashcardIndex);
            updatePageNumber();
        });
        
        document.getElementById('prevBtn').addEventListener('click', function() {
            currentFlashcardIndex = (currentFlashcardIndex - 1 + totalFlashcards) % totalFlashcards;
            showFlashcard(currentFlashcardIndex);
            updatePageNumber();
        });
        
        function showFlashcard(index) {
            flashcards.forEach(function(flashcard, i) {
                flashcard.style.display = 'none';
            });
            flashcards[index].style.display = 'block';
        }
        
        function toggleAnswer(flashcardId) {
            var termElement = document.getElementById('term-' + flashcardId);
            var answerElement = document.getElementById('answer-' + flashcardId);
            var revealbtn = document.getElementById('reveal-btn');
        
            if (answerElement.style.display === 'none') {
                termElement.style.display = 'none';
                answerElement.style.display = 'block';
                revealbtn.innerText = "Reveal Term";
                revealbtn.style.marginLeft = "10px"; 
            } else {
                termElement.style.display = 'block';
                answerElement.style.display = 'none';
                revealbtn.innerText = "Reveal Answer";
                revealbtn.style.marginLeft = "0px";
            }
        }        
    
        function updatePageNumber() {
            document.getElementById('current-page').innerText = currentFlashcardIndex + 1;
        }
        
        // Show/Hide Menu Dropdown
        document.getElementById('three-dot-menu').addEventListener('click', function() {
            var dropdown = document.getElementById('menu-dropdown');
            dropdown.classList.toggle('hidden');
        });
        
        // Show delete confirmation modal
        document.getElementById('delete-flashcards').addEventListener('click', function() {
            document.getElementById('delete-confirmation').classList.remove('hidden');
        });
        
        // Close the delete confirmation modal
        document.getElementById('cancel-delete').addEventListener('click', function() {
            document.getElementById('delete-confirmation').classList.add('hidden');
        });
        
        // Confirm delete and send request to server
        document.getElementById('confirm-delete').addEventListener('click', function() {
            var studySetId = '{{ flashcards.first.study_set.id }}'; 
            fetch('/delete_flashcards/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({ 'study_set_id': studySetId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "{% url 'library' %}"; 
                } else {
                    alert('Error deleting flashcards.');
                }
            });
            document.getElementById('delete-confirmation').classList.add('hidden');
        });
    
        // Flashcard status buttons
        document.querySelectorAll('.not-sure-btn').forEach(button => {
            button.addEventListener('click', function() {
                var flashcardId = this.getAttribute('data-flashcard-id');
                updateFlashcardStatus(flashcardId, 'isNotSure', true);  
            });
        });
    
        document.querySelectorAll('.got-it-btn').forEach(button => {
            button.addEventListener('click', function() {
                var flashcardId = this.getAttribute('data-flashcard-id');
                updateFlashcardStatus(flashcardId, 'isGotIt', true); 
            });
        });
    
        function updateFlashcardStatus(flashcardId, statusKey, statusValue) {
            fetch('/update_flashcard_status/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({
                    flashcard_id: flashcardId,
                    status_key: statusKey,
                    status_value: statusValue
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(`${statusKey} updated for flashcard ${flashcardId}`);
                } else {
                    alert('Error updating flashcard status.');
                }
            });
        }
    </script>
    
    
{% endblock %}
