{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/css/password_reset.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h2 class="form-header">Reset Your Password</h2>
            <p class="form-description">Enter your email address, and we'll send you a link to reset your password.</p>
            
            <form method="post">
                {% csrf_token %}
                
                <div class="input-wrapper">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                
                <button type="submit" class="submit-btn">Send Password Reset Email</button>
            </form>
        </div>
    </div>
</body>
</html>
