{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Discere - About Us</title>
    <link rel="stylesheet" href="{% static 'landing-page/css/aboutus-page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://fonts.cdnfonts.com/css/vensfolk" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <section class="get-started-section">
        <header>
            <img src="{% static 'landing-page/images/discere-logo.png' %}"/>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" class="home-btn">HOME</a></li>
                    <li><a href="{% url 'feature' %}" class="features-btn">FEATURES</a></li>
                    <li><a href="{% url 'contactus' %}" class="contact-us-btn">CONTACT US</a></li>
                    <li><a href="{% url 'aboutus' %}" class="about-us-btn">ABOUT US</a></li>
                </ul>
            </nav>

            <nav class="auth-nav">
                <ul>
                    <li><a href="{% url 'login' %}" class="sign-in-btn">Log In</a></li>
                    <li><a href="{% url 'signup' %}" class="sign-up-btn">Sign Up</a></li>
                </ul>
            </nav>
        </header>
		
		<div class="about-container">
			<div class="about-left-container">
				<span>One Team.<br/>One Goal.</span> <br/>
				<p>
					As Aristotle once said, "The roots of education are bitter, but the fruit is sweet." At Discere, we believe that accessible learning tools have the power to transform lives. We are committed to shaping the future of education by empowering learners to reach their goals through interactive study sets, flashcards, and quizzes.
				</p>
			</div>
			
			<div class="about-right-container">
				<img src="{% static 'landing-page/images/learn-img.png' %}"/>
			</div>
		</div>
    </section>
	
	<section class="member-section">
		<div class="member-head">
			<span class="member-head-subheader">Designers and Programmers</span> <br/>
			<span class="member-head-header">TEAM BEHIND DISCERE</span> <br/>
			<span class="member-head-content">
				Meet the passionate team driving Discere—a group dedicated to transforming learning<br/>
				experiences. With innovation at our core, we strive to make education<br/>
				accessible, engaging, and impactful for all.
			</span>
		</div>
		
		<div class="member-boxes">
			<div class="member-box-one">
				<div class="member-info">
					<div>
						<img src="{% static 'landing-page/images/member-one.jpg' %}"/> <br/>
						<h1>Brix C. Bitayo</h1>
						<h1> ◍ ☉☉ </h1>
						<p>"Fueling growth and transformation by making learning accessible, engaging, and a lifelong adventure."</p>
					</div>
				</div>
			</div>
			<div class="member-box-two">
				<div class="member-info">
					<div>
						<img src="{% static 'landing-page/images/member-two.jpg' %}"/> <br/>
						<h1>Jake R. Clarin</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>"Empowering every learner to unlock their potential, expand their horizons, and achieve greatness through knowledge."</p>
					</div>
				</div>
			</div>
			<div class="member-box-three">
				<div class="member-info">
					<div>
						<img src="{% static 'landing-page/images/member-three.jpg' %}"/> <br/>
						<h1>Yllana Mikhaila B. Paragoso</h1>
						<h1> ◍ ◍ ◍ </h1>
						<p>"Building a brighter future by inspiring curiosity, cultivating skills, and fostering a passion for continuous learning."</p>
					</div>
				</div>
			</div>
		</div>
		
		<span class="section-foot">
			As Aristotle once said, "The roots of education are bitter, but the fruit is sweet." At Discere, we believe that accessible learning tools have the power to transform lives. We are committed to shaping the future of education by empowering learners to reach their goals through interactive study sets, flashcards, and quizzes.
		</span>
    </section>

    <footer>
		<div class="footer-top">
			<div class="footer-logo">
				<img src="{% static 'landing-page/images/discere-logo.png' %}"/>
			</div>
			
			<div class="footer-nav">
				<div class="product-footer">
					<span>Product</span> <br/>
					<a href="{% url 'home' %}" >Overview</a> <br/>
					<a href="{% url 'feature' %}" >Features</a> <br/>
				</div>
			
				<div class="company-footer">
					<span>Company</span> <br/>
					<a href="{% url 'aboutus' %}" >About Us</a> <br/>
					<a href="{% url 'contactus' %}" >Contact Us</a> <br/>
				</div>
			</div>
		</div>
		
		<div class="footer-down">
			<button> <i class="fa fa-chevron-up"> </i> TOP </button>
			<p>&copy; 2024 Discere. All rights reserved.</p>
		</div>
    </footer>
</body>
</html>
