{% extends 'base.html' %}
{% load static %}

{% block title %}Discere{% endblock %}

{% block main_content %}
<div class="bg-white1 flex-grow ml-[102px] px-10 py-10 rounded-t-3xl h-full">
    <h1 class="text-xl font-bold" style="font-size: 36px">Welcome {{ user.username }}!</h1>
    <div class="w-full h-0 bg-black bg-opacity-10 my-4 mx-rect-home" style="height: 1px;"></div>

    <!-- Latest Activity Section -->
    <div class="bg-darkgreen-gradient text-neongreen rounded-lg p-6 mb-6 w-full h-[255px] mx-auto border-2 border-green-800 shadow-md">
        {% if study_set_results %} 
        <h1 class="text-white text-4xl font-semibold mb-10" style="font-size: 30px">Latest Activity</h1>
        <div class="flex flex-col items-center h-full mt-10">
            <div class="w-full flex flex-row justify-between text-3xl mx-10">
                <span class="font-bold w-1/4 text-center text-4xl">{{ study_set_results.0.study_set }}</span>
                <span class="font-bold w-1/4 text-center">
                    <span class="text-white text-4xl">{{ study_set_results.0.correct_count }}</span> <br> Correct
                </span>
                <span class="font-bold w-1/4 text-center">
                    <span class="text-white text-4xl">{{ study_set_results.0.mistake_count }}</span> <br> Mistakes
                </span>
                <span class="font-bold w-1/4 text-center">
                    <span class="text-white text-4xl">{{ study_set_results.0.total_flashcards }}</span> <br> Total Cards
                </span>
                <span class="font-bold w-1/4 text-center">
                    <span class="text-white text-4xl">{{ study_set_results.0.percentage }}%</span> <br> Score
                </span>
            </div>
        </div>
        {% else %}
        <p class="text-gray-500">No recent quiz results available.</p>
        {% endif %}
    </div>
    
    

    <div class="flex mt-20">
        <h1 class="text-xl font-bold" style="font-size: 36px">Recent Study Sets</h1>
    </div>

    <div class="flex flex-wrap gap-11 pt-8 pb-5 ml-[1.1%]">
        {% for study_set in recent_study_sets %}
        <a href="{% url 'flashcard_viewer' study_set.id %}">
            <div class="border-2 border-[#002f19] rounded-2xl card bg-white w-[362px] h-[312px] flex flex-col justify-between cursor-pointer transition-all transform hover:scale-105">
                <div class="bg-[#00ff7f] h-4 rounded-t-2xl"></div>
                <div class="p-5">
                    <h3 class="font-outfit text-[#012e19] text-4xl font-semibold mb-2 h-24 flex items-center">
                        {{ study_set.set_name }}
                    </h3>
                    <p class="text-[#018141] text-xl font-semibold mb-2">{{ study_set.set_subject }}</p>
                    <p class="text-[#012e19] text-xl font-semibold mb-2">{{ study_set.created_date|date:"F j, Y" }}</p>
                    <p class="text-[#012e19] text-xl font-semibold mb-2">Flashcards: {{ study_set.flashcard_count }}</p>
                </div>
            </div>
        </a>
        {% empty %}
            <p class="text-gray-600">No recent study sets available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
