{% extends 'base.html' %}
{% load static %}

{% block title %}Discere{% endblock %}

{% block main_content %}
<div class="bg-white1 flex-grow ml-[102px] px-10 py-10 rounded-t-3xl min-h-full">
    <div class="flex items-center justify-between">
        <h1 class="text-xl font-bold mb-4" style="font-size: 36px">Your Library</h1>
        <button id="open-modal"
                class="bg-darkgreen text-white font-semibold py-2 px-4 rounded-full w-64 h-16 flex items-center justify-center"
                style="font-size: 18px;"
                onmouseover="this.style.backgroundColor='#07663a'; this.style.color='white';"
                onmouseout="this.style.backgroundColor='#012d19'; this.style.color='white'">
            <img src="{% static 'icons/plus.svg' %}" alt="icon" class="h-5 w-5 mr-2">
            Create Study Set
        </button>
    </div>

    <div class="relative mb-6">
        <div class="flex items-center space-x-4 mb-4">
            <button id="study-sets" class="text-darkgreen font-semibold focus:outline-none active inline-block opacity-100">Study Sets</button>
            <button id="exams" class="text-darkgreen font-semibold focus:outline-none inline-block opacity-50">Exams</button>
        </div> 
        <div class="absolute left-0 bottom-px h-1 bg-darkgreen transition-all duration-300 active-bar z-10"></div>
        <div class="w-full h-px bg-black bg-opacity-10 mb-4"></div>
    </div>

    <div id="study-sets-content" class="tab-content">
        {% if study_sets %}
        <div style="display: flex; 
                flex-wrap: wrap; 
                gap: 45px; 
                padding-top: 30px; 
                padding-bottom: 20px;
                margin-left: 1.1%;">
        {% for study_set in study_sets %}
            <div style="border: 3px solid #002f19; 
                        border-radius: 20px; 
                        flex: 1 1 calc(25% - 40px);
                        cursor: pointer;
                        max-width: calc(25% - 40px);"
                 onmouseover="this.style.boxShadow = '0 0px 10px 0 #012f19'"
                 onmouseout="this.style.boxShadow = 'none'"
                 onclick="window.location.href='{% url 'flashcard_viewer' study_set.id %}';">
                
                <div style="background-color: #00ff7f; 
                            height: 16px; 
                            border-top-left-radius: 20px; 
                            border-top-right-radius: 20px;"></div>

                <div style="padding: 20px;">
                    <h3 class="font-outfit" 
                        style="color: #012e19; 
                               font-size: 40px; 
                               padding: 0; 
                               margin: 0; 
                               line-height: 1.1;
                               margin-bottom: 10px;
                               font-weight: 600;
                               height: 100px;
                               display: flex;
                               align-items: center;">
                        {{ study_set.set_name }}
                    </h3> 
                    <p style="font-size: 20px; color: #018141; font-weight: 600; margin-bottom: 10px">{{ study_set.set_subject }}</p>
                    <p style="font-size: 20px; color: #012e19; font-weight: 600; margin-bottom: 10px;"> {{ study_set.flashcard_count }} Flashcards</p>
                </div>
            </div>
        {% endfor %}
        <div class="flex flex-col items-center justify-center h-full">
            <img src="{% static 'icons/filler-1.svg' %}" alt="Placeholder image" class="bottom-px w-80 h-80 mt-48" />
            <h2 class="text-center text-darkgreen font-bold text-xl mt-[-40px]">Add study set to get started.</h2>
        </div>
        {% else %}
            <div class="flex flex-col items-center justify-center h-full">
                <img src="{% static 'icons/filler-1.svg' %}" alt="Placeholder image" class="bottom-px w-80 h-80 mt-48" />
                <h2 class="text-center text-darkgreen font-bold text-xl mt-[-40px]">Nothing here yet...</h2>
            </div>
        {% endif %}
    </div>
    
    <div id="exams-content" class="tab-content hidden">
        {% if exam_sets %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for exam in exam_sets %}
                <div class="card bg-white rounded-lg shadow-lg p-4 w-[362px] h-[312px] flex flex-col justify-between">
                    <!-- Title -->
                    <h3 class="text-2xl font-bold">{{ exam.name }}</h3>
    
                    <!-- Subject -->
                    <p class="text-sm text-[#018141]">Subject: {{ exam.subject }}</p>
    
                    <!-- Date Created -->
                    <p class="text-sm text-darkgreen">{{ exam.created_at|date:"F j, Y" }}</p>
    
                    <!-- Three-dot Menu -->
                    <div class="mt-auto flex justify-end">
                        <button class="text-gray-500 hover:text-darkgreen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex flex-col items-center justify-center h-full">
            <img src="{% static 'icons/filler-1.svg' %}" alt="Placeholder image" class="bottom-px w-80 h-80 mt-48" />
            <h2 class="text-center text-darkgreen font-bold text-xl mt-[-40px]">Add exam set to get started.</h2>
        </div>
        {% endif %}
    </div>
    
    

        {% comment %} <button class="bg-darkgreen text-white font-semibold py-2 px-4 rounded-lg w-48 h-16 flex items-center justify-center" style="font-size: 20px;">
            All subjects
            <img src="{% static 'icons/angle-down.svg' %}" alt="icon" class="h-5 w-5 mr-2">
        </button> {% endcomment %}

    <!-- CREATE POP UP-->
    <div id="create-study-set-modal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
        
        <div id="modal-overlay" class="fixed inset-0 bg-black bg-opacity-10"></div>

        <form action="{% url 'create_study_set' %}" method="POST" class="bg-white rounded-lg shadow-lg p-6 flex flex-col justify-between z-10" style="width: 400px;">
            {% csrf_token %}
    <!-- CREATE STUDY SET POP UP-->
    <div id="create-study-set-modal" class="fixed inset-0 bg-black/30 backdrop-blur-sm flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col w-[446px] h-[470px]">
            <div>
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-3xl font-bold">Create Study Set</h2>
                    <button type="button" id="close-modal">
                        <img src="{% static 'icons/close.svg' %}" alt="Close" class="h-5 w-5">
                    </button>
                </div>
    
                <div class="mb-4">
                    <label for="study-set-name" class="block text-lg font-semibold mb-1">Study Set Name</label>
                    <input type="text" id="study-set-name" name="study_set_name" class="border border-gray-300 rounded-lg w-full h-[52px] p-4 font-medium focus:border-darkgreen focus:ring-darkgreen" placeholder="Name" required>
                </div>
                <div class="mb-4">
                    <label for="subject" class="block text-lg font-semibold mb-1">Subject</label>
                    <input type="text" id="subject" name="subject" class="border border-gray-300 rounded-lg w-full h-[52px] p-4 font-medium focus:border-darkgreen focus:ring-darkgreen" placeholder="Subject" required>
                </div>
            </div>
            <button type="submit" class="bg-darkgreen text-white font-medium py-2 px-4 rounded-full w-full" style="margin-top: 15px;">Create</button>
        </form>
    </div>

    <script>
        function toggleMenu(menuId) {
            const menu = document.getElementById(menuId);
            menu.style.display = menu.style.display === 'none' || menu.style.display === '' ? 'block' : 'none';
        }

        function handleAction(action) {
            alert(`Action selected: ${action}`);
            if (action === 'archive') {
                console.log("Adding to Archive...");
            } else if (action === 'favorite') {
                console.log("Adding to Favorites...");
            } else if (action === 'delete') {
                console.log("Deleting Set...");
            }
        }

        document.addEventListener('click', function(event) {
            const menus = document.querySelectorAll('[id^="popupMenu-"]');
            const buttons = document.querySelectorAll('[id^="menuButton-"]');

            let isClickInside = false;

            menus.forEach(menu => {
                if (menu.contains(event.target)) isClickInside = true;
            });
            buttons.forEach(button => {
                if (button.contains(event.target)) isClickInside = true;
            });

            if (!isClickInside) {
                menus.forEach(menu => menu.style.display = 'none');
            }
        });
    </script>
            <button class="bg-darkgreen text-white font-medium py-2 px-4 rounded-full w-full mt-4 h-12" id="create-study-set-btn">
                Create
            </button>
        </div>
    </div>
    <!-- CREATE EXAM POP UP-->
    <div id="create-exam-modal" class="fixed inset-0 bg-black/30 backdrop-blur-sm flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col justify-between relative" style="width: 760px; height: 440px;">
            <button id="close-exam-modal" class="absolute top-4 right-4">
                <img src="{% static 'icons/close.svg' %}" alt="Close" class="h-5 w-5">
            </button>
    
            <div class="mb-6 px-6 mt-6">
                <h2 class="text-3xl font-bold text-center max-w-[600px] mx-auto">
                    How do you want to create <br> your exam set?
                </h2>
            </div>
    
            <div class="flex items-center gap-x-6 justify-center mb-10">
                <button id="generate-from-study-set" 
                        class="border-2 border-opacity-50 border-darkgreen text-darkgreen font-semibold py-6 px-4 rounded-md flex flex-col items-center justify-center space-y-2 transition-transform transform duration-300 ease-out hover:shadow-xl hover:scale-105"
                        style="width: 292px; height: 226px;">
                    <img src="{% static 'global-images/filler-4.png' %}" alt="Study Set" class="h-24 w-24">
                    <span class="text-xl font-semibold">Generate from <br> Study Set</span>
                </button>
    
                <button id="manually-create-exam" 
                        class="border-2 border-opacity-50 border-darkgreen text-darkgreen font-semibold py-6 px-4 rounded-md flex flex-col items-center justify-center space-y-2 transition-transform transform duration-300 ease-out hover:shadow-xl hover:scale-105"
                        style="width: 292px; height: 226px;">
                    <img src="{% static 'global-images/filler-3.png' %}" alt="Manual" class="h-24 w-24">
                    <span class="text-xl">Manually <br> Create</span>
                </button>
            </div>
        </div>
    </div>
    
<!-- MANUALLY CREATE EXAM POP UP -->
<div id="manually-create-modal" class="fixed inset-0 bg-black/30 backdrop-blur-sm flex items-center justify-center z-50 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col w-[446px] h-[485px]">
        <div>
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-3xl font-bold">Create Exam Set</h2>
                <button id="close-manually-create-modal">
                    <img src="{% static 'icons/close.svg' %}" alt="Close" class="h-5 w-5">
                </button>
            </div>

            <div class="mb-4">
                <label for="exam-set-name" class="block text-lg font-semibold mb-1">Exam Set Name</label>
                <input type="text" id="exam-set-name" class="border border-gray-300 rounded-lg w-full h-[52px] p-4 font-medium focus:border-darkgreen focus:ring-darkgreen" placeholder="Name">
            </div>

            <div class="mb-4">
                <label for="subject-exam" class="block text-lg font-semibold mb-1">Subject</label>
                <input type="text" id="subject-exam" class="border border-gray-300 rounded-lg w-full h-[52px] p-4 font-medium focus:border-darkgreen focus:ring-darkgreen" placeholder="Subject">
            </div>

            <div class="mb-4">
                <label for="exam-type" class="block text-lg font-semibold mb-1">Exam Type</label>
                <select id="exam-type" class="border border-gray-300 rounded-lg w-full h-[52px] p-4 font-medium focus:border-darkgreen focus:ring-darkgreen">
                    <option value="Identification">Identification</option>
                </select>
            </div>
        </div>

        <a href="{% url 'exam_creation' %}">
            <button class="bg-darkgreen text-white font-medium py-2 px-4 rounded-full w-full mt-4 h-12" id="create-exam-set-btn">
                Create
            </button>
        </a>        
        
    </div>
</div>


    

</div>   
{% endblock %}
