body {
    margin: 0;
    padding: 0;
    background-image: url('/static/users/images/gradient-bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
	font-family: 'Anybody', sans-serif;
	user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #38ef7d;
	margin-left: 200px;
	margin-right: 150px;
}

.left-section .fa-ellipsis-h{
	color: white;
	font-size: 30px;
}

.left-section img {
    width: 120px;
	margin-bottom: 20px;
}

.left-section h1 {
    font-size: 50px;
    margin: 20px 0;
	color: white;
	text-align: center;
}

.left-section span {
	color: white;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 20px;
	letter-spacing: 0.5px;
}

.left-section text {
	margin-top: 20px;
	color: white;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.right-section {
    flex: 1;
    background-color: #faf9f6;
    padding: 50px;
    border-radius: 30px;
	margin-right: 200px;
}

.right-section h1{
    color: #0b3316;
    font-size: 2rem;
    margin-bottom: 20px;
}

.right-section .auth-header {
	text-align: center;
	margin: 0;
	padding: 0;
}

.custom-hr {
    width: 80px;
    height: 8px;
    background-color: #004927;
    border: none;
	border-radius: 3px;
}

.custom-hr-2 {
    width: 95%;
	height: 2px;
    background-color: #ccc;
    border: none;
}
.custom-hr-3 {
    width: 80%;
	height: 1px;
    background-color: white;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
	border-radius: 15px;
}

.form-label {
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 20px;
	color: #757575;
}

.input-icon {
    display: flex;
    align-items: center;
    border: 1px solid #757575;
    border-radius: 15px;
	background-color: white;
}

.input-icon input {
    border: none;
    padding: 18px;
    font-size: 18px;
    width: 100%;
	height: 19px;
    outline: none;
}

.input-icon .fa-envelope,
.input-icon .fa-lock {
	display: flex;
    align-items: center;
    border-right: 1px solid grey;
	border-radius: 20px 0 0 20px;
}

.input-icon .fa-lock {
	padding-left: 19px;
	padding-right: 19px;
}

.input-icon .fa-eye-slash{
	display: flex;
    align-items: center;
	border-radius: 15px;
}

.input-icon i {
	padding: 12px 18px;
	color: #757575;
    background-color: white;
    border-radius: 8px 0 0 8px;
	height: 30px;
}

.submit-btn {
    font-family: 'Anybody', sans-serif;
    background-color: #025d30;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.submit-btn:hover {
    border: 2px solid white;
    background-color: #002f19;
}

.right-section .other-label {
	text-align: center;
	color: #757575;
	margin-bottom: 15px;
}

.google-btn {
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
	height: 30px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.google-btn:hover {
    border: 2px solid #025d30;
    background-color: #eee;
	font-weight: semi-bold;
}

.google-btn img {
    margin-right: 10px;
}

.forgot-password {
    text-align: right;
    margin: 10px 0;
    color: #007f5f;
    text-decoration: none;
    font-size: 15px;
    position: relative; 
    transition: color 0.3s ease; 
}

.forgot-password span:hover {
    color: #005a4b;
    border-bottom: 2px solid #007f5f; 
    padding-bottom: 2px; 
}

.signup-link {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.signup-link a {
    color: #007f5f;
    text-decoration: none;
	transition: color 0.3s ease; 
}

.signup-link a:hover {
    color: #005a4b;
    border-bottom: 2px solid #007f5f; 
    padding-bottom: 2px; 
}
